<#
    // all common data between assembly information and nuspec package are stored here
    var Version = "1.0.2";
    var Title = "WildcardMatch";
    var Company = "picrap";
    var License = "MIT License";
    var LicenseUrl = "http://opensource.org/licenses/mit-license.php";
    var Description = "String wildcard match (I can noyt believe no one wrote already a simple NuGet package to do this).";
#>